html
{
    background-color: #77AA88;
}


form
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    border: 10%;
    padding: 1%;
}

header
{
    height: 4rem;
    background-color: slategray;
}

figure
{
    width: 30em;
}

section
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;        
}

